.section1 {
    position: relative;
    height: 811px;
    .background {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .block {
        height: 100%;
        width: calc(100% - 78.81%);
        background-color: #465564;
        flex: 1;
    }
    .overlay {
        width: 78.81%;
        height: 100%;
        background: linear-gradient(180deg, #000000 -113.02%, rgba(0, 0, 0, 0) 100%), url("/assets/background.png");
        background-size: cover;
        max-width: 930px;
        #header2 {
            display: none;
        }
    }
    @media only screen and (max-width: 1350px) {
        .overlay {
            width: 55%;
        }
    }
    @media only screen and (max-width: 1024px) {
        .background {
            display: flex;
            flex-direction: column-reverse;
            .block {
                width: 100%;
            }
            .overlay {
                background-size: cover;
                background-repeat: no-repeat;
                max-width: unset;
                width: 100%;
                background-position: 50%;
                .header {
                    height: 70px;
                    padding: 27px 20px;
                    width: 100%;
                    border-bottom: 2px solid #4CAF50;
                }
                #header2 {
                    display: flex;
                }
                .logo {
                    text-transform: capitalize;
                    letter-spacing: 4px;
                    color: white;
                }
            }
        }
    }
    .container {
        z-index: 2;
        width: 95%;
        height: 100%;
        padding: 41px 0 31px 0;
    }
    .border {
        width: 109px;
        height: 0px;
        opacity: 1;
        top: 222px;
        left: 246px;
        border: 1px solid white;
    }
    .text-container {
        width: 770px;

        .text {
            width: 369px;
        }
    }
    .arrow-pair {
        align-self: flex-end;
    }
}
.logo {
    font-family: "Roboto";
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #4CAF50;
}
header {
    width: 100%;
}
.robo {
    font-family: "Roboto";
}
.inter {
    font-family: "Inter";
}
.arrow-pair {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
@media only screen and (max-width: 1024px) {
    .arrow-pair {
        gap: 9px;
        img {
            width: 30px;
        }
    }
    .section1 {
        height: 734px;
            .arrow-pair {
                align-self: flex-end;
                position: relative;
                top: -109%;
           }
        }
}
.section2 {
    padding: 100px 0 129px 0;
    .section2-1 {
        height: 686px;
        .left {
            position: relative;
            width: calc(54.5% - 23px);
            padding-bottom: 32px;
            height: 100%;
            .image {
                width: 594.75px;
                height: 532px;
                border: 1px solid #C8E6C9;
                box-shadow: 0px 4px 30px 0px #0000001A, 22.84px 32px 0 #C8E6C9;
                background-image: url(/assets/bed-big.jpg);
                background-position: 25%;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .arrow-pair {
                position: absolute;
                bottom: 14px;
                right: 6.08%;
            }
        }
        .right {
            width: calc(45.5% - 23px);
            height: 100%;
            .bed {
                width: 192.22px;
                height: 202px;
            }
            .text {
                padding-bottom: 6px;
            }
        }
        .right2 {
            display: none;
        }
    }
    @media only screen and (max-width: 1158px   ) {
        .section2-1 {
            flex-direction: column;
            height: unset;
            .left {
                width: fit-content;
                gap: 11px;
                .image {

                    box-shadow: 0px 4px 30px 0px #0000001A, 12.39px 17.36px 0 #C8E6C9;
                }
                .arrow-pair {
                    position: absolute;
                    bottom: 25px;
                    right: 6.08%;
                }
            }
            .right {
                display: none;
            }
            .right2 {
                width: 1025px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                flex-direction: row;
                justify-content: left;
                gap: 10px;
                .card {
                    width: 335px;
                    height: 203.89px;
                    display: flex;
                    align-items: flex-end;
                    background-size: cover;
                    background-position: 50%;
                }
                .text {
                    height: 105px;
                    padding: 0 13px;
                    background-color: #D9D9D9B2;
                }
                img.arrow {
                    width: 20px;
                }
            }
        }
    }
    @media only screen and (max-width: 660px) {
        .section2-1 {
            width: 100%;
            .left {
                width: 95%;
                max-width: 335px;
                align-self: center;
                .image {
                    width: 322.61px;
                    height: 288.57px;
                }
            }
        }
    }
    .section2-2 {
        .products {
            width: 1180px;
            width: 1180px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            
        }
        .card {
            background-color: #c8e6c9;
            height: 400px;
            width: calc((100% - 20px * 3) / 4);
            padding: 32px 19px 24px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            .buy {
                width: 39px;
                height: 36px;
                background-color: #FEFEFF73;
                background-image: url(/assets/cart.svg);
                backdrop-filter: blur(4px);
                background-position: 50%;
                background-repeat: no-repeat;
                border-radius: 50%;
            }
            .price {
                background: #FFFFFF73;
                backdrop-filter: blur(4px);
                padding: 12px 0px;
                border: 0;
                width: 128px;
                color: #4CAF50;
            }
            img {
                position: absolute
            }
            #item1 {
                top: 112px;
                left: 97px;
            }
            #item2 {
                top: 94px;
                left: 102px;
            }
            #item3 {
                top: 112px;
                left: 35px;
            }
            #item4 {
                top: 85px;
                left: 34px;
            }
        }
    }
    .section2-3 {
        height: 564px;
        .left {
            height: 100%;
            width: calc(44% - 28px);
            .form {
                width: 100%;
            }
        }
        .right {
            height: 100%;
            width: calc((100% - 44%) - 28px);
            .image {
                position: relative;
                right: 0;
                width: 594.76px;
                height: 532px;
                background-image: url(/assets/Maps.png);
                box-shadow: 0px 4px 30px 0px #0000001A, -26.8px 32px #C8E6C9;
                border: 1px solid #C8E6C9;
                backdrop-filter: blur(4px);
                background-size: cover;
                background-position: 50%;
                img {
                    position: absolute;
                    top: 254px;
                    left: 344.98px;
                }
            }
            @media only screen and (max-width: 660px) {
                .image {
                    width: 320.55px;
                    height: 286.73px;
                    box-shadow: 0px 4px 30px 0px #0000001A, -14.4px 17.5px #C8E6C9;
                    img {
                        display: none;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 1132px) {
        .section2-3 {
            flex-direction: column;
            height: unset;
            .left {
                width: 100%;
                gap: 25px;
            }
            .right {
                width: 100%;
                .image {
                    right: 50%;
                    transform: translateX(50%);
                }
            }
        }
    }
    .section2-4 {
        .testimonial {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 8px;
            min-height: 348px;
            width: 1188px;
            .card {
                flex-direction: column;
                gap: 24px;
                justify-content: flex-start;
                position: relative;
                width: calc(100% / 3 - 34px * 2 / 3);
                background: #F6F6F6;
                border: 1px solid #C8E6C9;
                box-shadow: 0px 4px 30px 0px #0000001A;
                padding: 50px 30px 0;
                height: 276px;
                border-radius: 8px;
                .text {
                    color: #2D2E2E;
                }
                .user {
                    position: absolute;
                    bottom: -26%;
                    div {
                        color: #2D2E2E;
                    }
                }
            }
            @media only screen and (max-width: 660px) {
                .card {
                    opacity: 0;
                }
            }
            .green {
                opacity: 1;
                padding: 50px 22px 90px;
                background: #C8E6C9;
                box-shadow: 0px 4px 30px 0px #0000001A;

            }
        }
    }
    @media only screen and (max-width: 1132px) {
        .section2-4 {
            gap: 52px;
            text-align: center;
        }
    }
}
@media only screen and (max-width: 660px) {
    .section2 {
        padding: 50px 0;
        .container {
            gap: 50px
        }
    }
}
.input {
    background: #F6F6F6;
    padding: 16px 17px;
    border: 2px solid #4CAF50;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ABABAB;
}
.text-area {
    height: 89px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #465564;
    padding: 54px 0;
    .email {
        max-width: 473px;
        width: 100%;
    }
    .input {
        max-width: calc(473px - 154px);
        padding: 18px 16px;
    }
    button {
        padding: 18px 32.5px;
    }
    hr {
        margin-top: 23px;
        margin-bottom: 19px;
        border: 2px solid #4CAF50;
    }
    @media only screen and (max-width: 1024px) {
        hr {
            margin-top: 14px;
            margin-bottom: 14px;
            border: 1px solid #4CAF50;
        }
    }
}